
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;  
}
p {
    font-size: 1.5rem;
}

#sidebar{   
    width: 90%;
    height: 99vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right   : 1rem;
    background-color: #E4E4E4;
}

#active-item{
    background-color: var(--accent-green);
    display: flex;
    align-items: center;
    justify-content: center;    
    color: white;
    border-radius: 1rem;
}
#sidebar header{
    justify-self: flex-start;
    padding-top: 3rem;
}

#sidebar header img{
    width: 8rem;
}

#sidebar article span{
    display: flex;
    align-items: space-around;
    justify-content: flex-start;
    gap: 1rem   ;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 0.2rem;
}
#sidebar article span:hover{
    background-color: var(--accent-grey);
    border-style: none;
    border-radius: 1rem;
    transition: 0.2s;
        }


#sidebar footer a{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: green;
    border-style: none;
    border-radius: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: white;
    height: 4rem;
    margin-bottom: 1.5rem;
}
#sidebar footer a:hover{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--accent-grey);
    border-style: none;
    border-radius: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: white;
    height: 4rem;
    margin-bottom: 1.5rem;
    transition: 0.2s;
}

#sidebar footer a img{
    padding-right: 1rem;
}

#sidebar img{
    width: 1.8rem;
}