:root{
    --accent-green: rgb(12, 141, 12) ;
    --accent-grey: rgb(185, 185, 185) ;
}
.unitech-table{
    border-spacing: 0;
    width: 100%;
    margin: 0;
}

.unitech-table p,h2,h3{
    padding:0;
    margin:0;
}

.unitech-table p{
    font-weight: 300;
    font-size: 1.3rem;
}

.unitech-table h2{
    font-weight: 400;
    font-size: 1.5rem;
}
.unitech-table h3{
    font-weight: 600;
    font-size: 1.3rem;
}
      
.unitech-table th, td {
    text-align: start;
    padding: 1rem;
    margin-bottom: 1rem;
    width: auto;
}
.unitech-table td a{
    background-color: green;
    margin:-1rem;
    padding: 1rem;
    border-radius: 1rem;
    width: 50%;
    height: 1rem;
    display: flex;
    align-items: center ;
    justify-content: center;
}

.unitech-table td a:hover{
   background-color: var(--accent-grey);
    transition: 0.5s;
}
.unitech-table td a:hover p{
    color: black;
    transition: 0.5s;
}


.unitech-table td a p{
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
}
