:root{
    --accent-green: rgb(12, 141, 12) ;
    --accent-grey: rgb(185, 185, 185) ;
}
.unitech-table{
    border-spacing: 0;
    width: 100%;
    margin-top: 1rem;
}

.unitech-table p,h2,h3{
    padding:0;
    margin:0;
}

.unitech-table p{
    font-weight: 300;
    font-size: 1.3rem;
}

.unitech-table h2{
    font-weight: 400;
    font-size: 1.5rem;
}
.unitech-table h3{
    font-weight: 600;
    font-size: 1.3rem;
}

@media screen and (max-width: 1366px) {
    .unitech-table p{
        font-size: 1rem;
    }
}

@media screen and (max-width: 1366px) {
    .unitech-table h2{
        font-size: 1rem;
    }
}

@media screen and (max-width: 1366px) {
    .unitech-table h3{
        font-size: 1.1rem;
    }
}

.unitech-table th, td {
    text-align: center;
    padding: 1.5rem;
    margin-bottom: 1rem;
    width: auto;
}

@media screen and (max-width: 1366px) {
    .unitech-table th, td{
        padding: 0.7rem;
    }
}

.unitech-table td a{
    background-color: green;
    margin: -0.2rem;
    padding: 1rem 0;
    border-radius: 1rem;
    height: 1rem;
    display: flex;
    align-items: center ;
    justify-content: center;
}

@media screen and (max-width: 1366px) {
    .unitech-table td a{
        height: 0.6rem;
    }
}

.unitech-table td a:hover{
   background-color: var(--accent-grey);
    transition: 0.5s;
}
.unitech-table td a:hover p{
    color: black;
    transition: 0.5s;
}


.unitech-table td a p{
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
}

@media screen and (max-width: 1366px) {
    .unitech-table td a p{
        font-size: 1rem;
    }
}