*{
    font-family: Lexend Deca;
}

div img{
    width: 22px;
    height: 22px;
}


#body{
    background-image: url(./imagens/backraond\ Home.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 705px;
}

#section{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

#tela{
    background-color: #fff;
    height: 400px;
    width: 500px;
    border-radius: 15px;
}

.cabeçalho{
    padding: 30px 0px;
    font-size: 30px;
    text-align: center;
}

.ordem{
    text-align: center;
    gap: 15px;
}

#nome{
    height: 50px;
    width: 309px;
    border: 2px solid #00A859;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
    margin-top: 15px;
}

.entregar{
    margin: 40px 0px 0px 95px;
    background-color: #00A859;
    padding: 10px 30px;
    border: 2px solid #00A859;
    border-radius: 15px;
    font-size: 20px;
    color: #fff;
}